body{
background-image: url('./Screenshot_2021-03-21-11-42-00-67_fd1e8ef594b195c55a3bba4818d0ce35.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
font-size: large;
}